/*Raven Styles*/
.v-card.custom-rounded-card {
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.divider-container {
    display: flex;
    align-items: center;
}

.divider-text {
    margin: 0 10px;
}

.container-top-margin {
    margin-top: 25px;
}

.forgot-password {
    font-size: 12px;
    padding-right: 1px;
}

.small-text label {
    font-size: 12px;
    padding-top: 1px;
}

.welcome-back-text {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
}
/*Maui Styles*/
/* Landing Page Styles */

/* Add custom styles here */

.landing-page {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    transform: translateY(-20px);
  }

  .animate-drop-down {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(0);
  }

  .banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio */
    filter: brightness(80%);
}

.banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

  .banner-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .banner-slogan {
    font-size: 24px;
    margin-bottom: 20px;
  }
  /* Navigation Buttons Styles */
  .banner .nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .banner  .btn-primary {
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Change to your desired button color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }

  .banner .btn-primary:hover {
    background-color: #0056b3; /* Change to a darker shade when hovered */
  }

  .nav-buttons > * {
    margin-left: 10px;
  }

  /* About Us and What We Do Section Styles */
  .about-us, .what-we-do {
    margin-bottom: 40px;
  }

  /* Heading Styles */
  .about-us h1, .what-we-do h1 {
    font-size: 28px; /* Increase the font size for emphasis */
    margin-bottom: 20px; /* Increase the bottom margin for spacing */
  }


  /* Three cards at the bottom - landing page */
  .nav-buttons {
    margin-bottom: 20px;
  }

  .custom-rounded-card {
    border-radius: 15px; /* Customize border radius as needed */
    margin-top: 50px
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the card takes full height of its container */
  }

  .card-image {
    width: 80px;
    height: auto;
    margin: 0 auto;
  }

